<html lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
<title>Авторизация</title>
<!-- Bootstrap Core CSS -->
<link href="/src/template/eliteadmin-crm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- animation CSS -->
<link href="/src/template/eliteadmin-crm/css/animate.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/src/template/eliteadmin-crm/css/style.css" rel="stylesheet">
<!-- color CSS -->
<link href="/src/template/eliteadmin-crm/css/colors/blue.css" id="theme"  rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
	var modulesUrl = {{{modules_url}}};
	var moduleMode = '{{mode}}';
</script>
</head>
<body>
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
{{{body}}}
<div id="lost-connection" ><!--При потере соединения--></div>
<div id='loader' class='hidden'>
	<div class="lb_ball-clip-rotate">
		<div></div>
	</div>
</div><!--Лоадер-->
<div id='loader_back' class='hidden'>

<script src="/src/admin/build/js/login.js"></script>
<link href="/src/template/eliteadmin-crm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/src/template/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/src/template/eliteadmin-crm/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/src/template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

<!--slimscroll JavaScript -->
<script src="/src/template/eliteadmin/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/src/template/eliteadmin/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/src/template/eliteadmin/js/custom.min.js"></script>
<!--Style Switcher -->
<!-- <script src="/src/template/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script> -->
</body>
</html>
