<html lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body style="
    width: 370px;
    margin: 90px auto 0;
">
<div style="
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
">{{{user.name}}}</div><div style="
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
">{{{user.sname}}}</div><div style="
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
">{{{country_name}}}</div>
<style>
  @font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat_semibold.woff2") format("woff2");
	font-weight: 600;
}
body {
  font-family: "Montserrat";
  font-weight: 500;
}
</style>
<script>
	window.print()
</script>
</body></html>